@media (min-width: 992px) {
	.navbar {
		height:50px;
	}
}

body {
	background: #2b2b2b;
	font-family: sans-serif;
}

.pageloader {
  position: fixed;
  left: 0px;
  top: 0px;
  width: 100%;
  height: 100%;
  z-index: 9999;
  background: url('http://localhost/foxword/public/loader.gif') 50% 50% no-repeat rgb(43, 43, 43);
  opacity: 1;
}

#globalNav {
	z-index: 2;
}

#globalNav img {
	transition: transform .3s;
}

#globalNav img:hover {
	transform: scale(1.05);
}
